<!DOCTYPE>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Transfert</title>
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css} " />
</head>
<body>
	<div th:replace="header :: header">...</div>
	<h2>HOME / TRANSFERT</h2>

	<div class="container">

		<div class="row">
			<div class="col-6">
				<h2>Send Money</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				<p class="h5" th:text="'Balance ' + ${balance}+ ' €'">Balance
					amount</p>
			</div>

			<div class="col-6">

				<form th:action="@{/addConnection}" method="post">
					<div class="row">
						<div class="col-6">
							<label for="exampleInputEmail1" class="form-label">Email
								connection </label> <input type="email" class="form-control"
								placeholder="Email connection" id="exampleInputEmail1"
								th:name="emailConnection" />
							<p style="color: red" th:text="${messageAddConnection}">wrong</p>
						</div>
						<div class="col-3 align-self-center">
							<input type="submit" class="btn btn-primary"
								value="Add Connection" />
						</div>
					</div>
				</form>
			</div>
		</div>

		<form th:action="@{/transferTransactionInternal}" method="post">
			<div class="row">

				<div class="col-3">
					<label for="exampleInput1" class="form-label">Connection</label> <select
						class="form-select" aria-label="Default select example"
						th:name="contactID">
						<option th:value=-1 selected="selected">Select A Connection</option>
						<th:block th:each="connection : ${connections}">
							<option th:utext="${connection.name}" th:value="${connection.id}">..</option>
						</th:block>
					</select>
					<p style="color: red" th:text="${messageTransfertInConnection}">wrong</p>
				</div>

				<div class="col-3">
					<label for="exampleInput1" class="form-label">Description</label> <input
						type="text" class="form-control" placeholder="Description"
						th:name="description" />
					<p style="color: red" th:text="${messageTransfertInDescription}">wrong</p>
				</div>

				<div class="col-3">
					<label for="exampleInput1" class="form-label">Amount</label> 
					<input
						type="text" class="form-control" placeholder="0€" th:name="amount" />
					<p style="color: red" th:text="${messageTransfertInAmount}">wrong</p>
				</div>

				<div class="col-3 align-self-center">
					<div class="row">

						<div class="col">
							<input type="submit" class="btn btn-primary" value="Pay" />
						</div>

						<div class="col">
							<a href="transferOut" class="btn btn-primary">Supply</a>
						</div>

					</div>
				</div>

			</div>
		</form>
		<div class="row">
			<div class="col">
				<h2>My Transactions</h2>
			</div>
		</div>
		<div class="row ">
			<div class="col-9">
				<table class="table">
					<tr>
						<th>Connections</th>
						<th>Description</th>
						<th>Amount</th>
					</tr>
					<tr th:block th:each="transaction : ${transactions}">
						<td th:text="${transaction.userCreditor.name}" />
						<td th:text="${transaction.description}" />
						<td th:text="'-' + ${transaction.amount} + ' €'" />
					</tr>
				</table>

				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
						<li class="page-item disabled"><a class="page-link" href="#"
							tabindex="-1">Previous</a></li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item disabled"><a class="page-link" href="#">Next</a>
						</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</body>
</html>